body {
	background-color: rgba(0,0,0,.2);
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;;
}

#header {
	font-size: 35px;
	color: #2B2E2E;
	cursor: pointer;
}

.container {
	width:500px;
	margin: auto;
	text-align:left;
	
}

.tweets {
	font-size: 18px;
}

.user-name {
	color: #2B2E2E;
	font-weight: bold;
	cursor: pointer;
}

.message {
	color: #777;
}

.at {
	color: #BD5164;
}

.time {
	font-size: 10px;
	color: #E5E2E3;
}

.tweet-body {
	background: #fff;
	border-top: 5px solid #5f82be;
	border-bottom: 2px solid #c6c7cc
	border-radius: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	width: 100%;

	-webkit-animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.visitorTweet{
	background: #fff;
  border: 1px solid #c6c7cc;
  border-bottom: 2px solid #c6c7cc;
  color: #636466;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-top: 6px;
  width: 100%;
}

.btn{
	border: 0;
	background: #6d8ac4;
	padding: 11px 30px;
	margin-top: 10px;

	font-size:14px;
	color: #fff;

	cursor: pointer;
}
